*.exe
Week1/Plus Minus/bin/
Week1/Plus Minus/obj/
Week1/MinMaxSum/bin/
Week1/MinMaxSum/obj/
Week1/Time Conversion/obj/
Week1/Time Conversion/bin/
Week1/Sparse Arrays/obj/Sparse Arrays.csproj.nuget.dgspec.json
Week1/Sparse Arrays/bin/
Week1/Sparse Arrays/obj/
Week1/Lonely Integer/obj/
Week1/Lonely Integer/bin/
Week1/Flipping bits/bin/
Week1/Flipping bits/obj/
Week1/Diagonal Difference/bin/
Week1/Diagonal Difference/obj/
Week1/Counting Sort 1/obj/
Week1/Counting Sort 1/bin/
Week1/Pangrams/obj/
Week1/Pangrams/bin/
Week1/Permuting Two Arrays/obj/
Week1/Permuting Two Arrays/bin/
Week1/Permuting Two Arrays/.vs/
