*.exe
Week1/Plus Minus/bin/
Week1/Plus Minus/obj/
Week1/MinMaxSum/bin/
Week1/MinMaxSum/obj/
Week1/Time Conversion/obj/
Week1/Time Conversion/bin/
Week1/Sparse Arrays/obj/Sparse Arrays.csproj.nuget.dgspec.json
Week1/Sparse Arrays/bin/
Week1/Sparse Arrays/obj/
Week1/Lonely Integer/obj/
Week1/Lonely Integer/bin/
